# Сервер 
PORT=3000
NODE_ENV=development

# Переменная для логера. (trace | debug | info | warn | error | fatal)
LOG_LEVEV=debug

# Cors
# Разрешенные URL-ы
CORS_ORIGINS=http://localhost:5173

# Rate limit
RATE_LIMIT=asd

# Api погоды
WEATHER_API_URL=asd
REQUEST_TIMEOUT_MS=5000